<h1>お気に入り一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
      <th>投稿者</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.picture.title %></td>
        <td><%= favorite.picture.content %></td>
        <td><%= favorite.picture.image %></td>
        <td><%= favorite.picture.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Picture一覧へ', pictures_path %>
